In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data=pd.read_csv('zomato.csv',encoding='latin-1')

In [5]:
data.shape

(9551, 21)

In [8]:
data.isnull().values.any()

True

In [5]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [6]:
data.drop(['Restaurant ID','Has Online delivery','Rating color', 'Rating text'],axis=1,inplace=True)

In [7]:
data.head()

,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Is delivering now,Switch to order menu,Price range,Aggregate rating,Votes
0,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,3,4.8,314
1,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,3,4.5,591
2,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,4,4.4,270
3,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,4,4.9,365
4,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,4,4.8,229

In [8]:
data['Restaurant Name'].value_counts()

Cafe Coffee Day                     83
Domino's Pizza                      79
Subway                              63
Green Chick Chop                    51
McDonald's                          48
Keventers                           34
Pizza Hut                           30
Giani                               29
Baskin Robbins                      28
Barbeque Nation                     26
Dunkin' Donuts                      22
Giani's                             22
Barista                             22
Pind Balluchi                       20
Costa Coffee                        20
Wah Ji Wah                          19
Sagar Ratna                         19
Pizza Hut Delivery                  19
Twenty Four Seven                   19
KFC                                 18
Starbucks                           18
Chaayos                             18
Republic of Chicken                 18
Burger King                         16
Haldiram's                          16
Shree Rathnam                       15
Frontier                            14
Bikanervala                         14
Aggarwal Sweets                     14
Moti Mahal Delux                    14
                                    ..
Gardenia - Hotel Grenville           1
Longhorn Steakhouse                  1
Hotel Ravisha Continental            1
Drinks At Stake - Bar Exchange       1
Lumbini Food Point                   1
Maakhansingh                         1
Wok  In The Clouds                   1
Nonna's Pasta & Pizzeria             1
Dessert Carte                        1
King Bikaneri                        1
Mitran Da Junction                   1
Lets Bake Love                       1
Midnight Cravings Beyond Control     1
Gopala Hari                          1
China Town Sizzlers                  1
Lite Eat Cafe                        1
Essex Collections Patisserie         1
World of Wok                         1
Svasti Cafe                          1
Milse                                1
Swad E Punjab                        1
Punjab Sweet House                   1
Hot N Fresh Pizza                    1
Hangout Cafe                         1
Kashi Art Cafe                       1
Oh My!                               1
Angrezee Choupal                     1
Punjabi Virsa                        1
RR China Tawun                       1
CHA! WA!!                            1
Name: Restaurant Name, Length: 7446, dtype: int64

In [9]:
data['Country Code'].value_counts()

1      8652
216     434
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [10]:
data=data[data['Country Code']==1]

In [11]:
data.drop(['Country Code','Currency'],axis=1,inplace=True)

In [12]:
data.drop('Restaurant Name',axis=1,inplace=True)

In [13]:
data

,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Is delivering now,Switch to order menu,Price range,Aggregate rating,Votes
624,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,"North Indian, Mughlai",850,No,No,No,3,3.9,140
625,Agra,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",0.000000,0.000000,"North Indian, Mughlai",700,No,No,No,2,3.5,71
626,Agra,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra Cantt,"Agra Cantt, Agra",78.011608,27.160832,North Indian,500,No,No,No,2,3.6,94
627,Agra,"1/48, Delhi Gate, Station Road, Raja Mandi, Ci...",Civil Lines,"Civil Lines, Agra",77.998092,27.195928,Rajasthani,400,No,No,No,2,4.0,87
628,Agra,"23/453, Opposite Sanjay Cinema, Wazipura Road,...",Civil Lines,"Civil Lines, Agra",78.007553,27.201725,"North Indian, Chinese, Mughlai",1000,No,No,No,3,4.2,177
629,Agra,"Courtyard by Marriott Agra, Phase 2, Fatehabad...","Courtyard by Marriott Agra, Tajganj","Courtyard by Marriott Agra, Tajganj, Agra",0.000000,0.000000,"North Indian, European",2000,No,No,No,4,4.0,45
630,Agra,"ITC Mughal, Fatehabad Road, Tajganj, Agra","ITC Mughal, Tajganj","ITC Mughal, Tajganj, Agra",78.044095,27.160934,"North Indian, Mughlai",2500,No,No,No,4,4.3,133
631,Agra,"ITC Mughal, Fatehabad Road, Tajganj, Agra","ITC Mughal, Tajganj","ITC Mughal, Tajganj, Agra",78.044095,27.160934,Mughlai,2500,No,No,No,4,4.0,41
632,Agra,"3/20, KPS Tower, Near Tulsi Talkies, Bypass Ro...",Khandari,"Khandari, Agra",0.000000,0.000000,"Rajasthani, Gujarati, Mughlai",800,No,No,No,3,3.6,59
633,Agra,"Radisson Blu, Taj East Gate Road, Tajganj, Agra","Radisson Blu, Tajganj","Radisson Blu, Tajganj, Agra",78.057044,27.163303,"North Indian, Mughlai",3600,No,No,No,4,3.8,46
634,Agra,"Radisson Blu, Taj East Gate Road, Tajganj, Agra","Radisson Blu, Tajganj","Radisson Blu, Tajganj, Agra",78.057044,27.163303,"North Indian, Chinese, Continental",0,No,No,No,1,3.9,103
635,Agra,"Meher Cinema Complex, Gwalior Road, Rakabganj,...",Rakabganj,"Rakabganj, Agra",78.015053,27.165108,"South Indian, Desserts",550,No,No,No,2,4.1,121
636,Agra,"Hotel Samovar, Fatehabad Road, Tajganj, Agra",Tajganj,"Tajganj, Agra",78.042990,27.159795,"North Indian, Chinese, Continental, Mughlai",1100,No,No,No,3,3.4,70
637,Agra,"Opposite The Gateway Hotel, Fatehabad Road, Ta...",Tajganj,"Tajganj, Agra",78.040165,27.161850,"Cafe, North Indian, Chinese",0,No,No,No,1,4.9,77
638,Agra,"Parador Hotel, 3A-3B, Phase 1, Fatehabad Road,...",Tajganj,"Tajganj, Agra",0.000000,0.000000,"North Indian, Chinese, Continental",1500,No,No,No,4,3.8,57
639,Agra,"1374 K/1375 K, 2nd floor, Dinesh Nagar, Fatehb...",Tajganj,"Tajganj, Agra",0.000000,0.000000,"Cafe, Italian, Mexican, North Indian, Continental",0,No,No,No,1,3.9,98
640,Agra,"Opposite Saga Emporium, Fatehabad Road, Tajgan...",Tajganj,"Tajganj, Agra",78.047250,27.157772,"North Indian, Mughlai",900,No,No,No,3,3.7,175
641,Agra,"8, Handicraft Nagar, Fatehabad Road, Tajganj, ...",Tajganj,"Tajganj, Agra",78.034714,27.161694,"Italian, Pizza",700,No,No,No,2,4.4,134
642,Agra,"Near Purani Mandi Crossing,Fatehabad Road, Taj...",Tajganj,"Tajganj, Agra",0.000000,0.000000,"Chinese, Italian, Continental, North Indian",1000,No,No,No,3,4.2,166
643,Agra,"Next To ITC Mughal Hotel, Fatehabad Road, Tajg...",Tajganj,"Tajganj, Agra",78.045359,27.158822,"North Indian, Fast Food",700,No,No,No,2,4.1,168
644,Ahmedabad,"Shreekunj Mandapam, Beside Golden Tulip Bunglo...",Ambavadi,"Ambavadi, Ahmedabad",72.537574,23.010451,"Chinese, Italian, North Indian, Mexican, Medit...",900,No,No,No,3,4.2,1582
645,Ahmedabad,"Chinubhai Tower, Nehru Bridge Corner, Ashram R...",Ashram Road,"Ashram Road, Ahmedabad",72.572009,23.026165,"Continental, Chinese, North Indian",1800,No,No,No,4,3.7,1315
646,Ahmedabad,"7 B, Circle B, Opposite Rajpath Club, Sarkhej...",Bodakdev,"Bodakdev, Ahmedabad",72.512395,23.038311,"Ice Cream, Desserts, Continental",300,No,No,No,1,4.5,217
647,Ahmedabad,"Opposite Sindhu Bhawan, Bodakdev, Ahmedabad",Bodakdev,"Bodakdev, Ahmedabad",72.501764,23.040163,"North Indian, Continental, Mexican, Italian",800,No,No,No,3,4.1,769
648,Ahmedabad,"Ground Floor, Maruti Crystal, Opposite Rajpath...",Bodakdev,"Bodakdev, Ahmedabad",72.509806,23.033069,"Pizza, Italian, Beverages, Desserts",900,No,No,No,3,4.3,731
649,Ahmedabad,"Shop 10, Circle B, Nyay Marg, Bodakdev, Ahmed...",Bodakdev,"Bodakdev, Ahmedabad",72.512487,23.038231,"Pizza, Italian",500,No,No,No,2,4.4,113
650,Ahmedabad,"6-9, Ground Floor, Devashish Business Park, Op...",Bodakdev,"Bodakdev, Ahmedabad",72.511307,23.031851,"Cafe, Continental, Desserts",1000,No,No,No,3,4.4,944
651,Ahmedabad,"10th Floor, Balaji Heights Buliding, Behind Ta...",C G Road,"C G Road, Ahmedabad",72.557037,23.029062,"North Indian, Cafe, Italian, Mexican, Continental",1000,No,No,No,3,3.8,63
652,Ahmedabad,"Courtyard By Marriott, Ramdevnagar Cross Road,...","Courtyard By Marriott, Satellite","Courtyard By Marriott, Satellite, Ahmedabad",72.511581,23.027929,"North Indian, South Indian, Asian, Continental",1400,No,No,No,3,3.6,375
653,Ahmedabad,"Ground Floor, Arjun Avenue, Opposite Samarthes...",Ellis Bridge,"Ellis Bridge, Ahmedabad",72.559984,23.028748,"Desserts, Ice Cream",350,No,No,No,2,4.6,166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9246,Varanasi,"1st Floor, Swastik Plaza, Near Ravidas Gate, B...",Lanka,"Lanka, Varanasi",82.999827,25.281437,"North Indian, Cafe",400,No,No,No,2,3.4,85
9247,Varanasi,"34-B, Ravindra Puri, Near Lanka,Varanasi",Lanka,"Lanka, Varanasi",82.982869,25.270943,Chinese,600,No,No,No,3,3.5,172
9248,Varanasi,"S 19/1 K, Mint House, Near Hotel Taj, Nai Baza...",Nadesar,"Nadesar, Varanasi",82.987294,25.334362,"North Indian, Fast Food",350,No,No,No,2,3.4,96
9249,Varanasi,"Near Sbi Atm, Main Road, Nadesar, Varanasi",Nadesar,"Nadesar, Varanasi",82.989291,25.332909,"North Indian, Mughlai",600,No,No,No,3,3.6,63
9250,Varanasi,"Radisson Hotel, The Mall Road, Nadesar, Varanasi","Radisson Hotel, Nadesar","Radisson Hotel, Nadesar, Varanasi",82.980810,25.338373,"Cafe, North Indian, Continental",600,No,No,No,3,3.3,34
9251,Varanasi,"Radisson Hotel, The Mall Road, Nadesar, Varanasi","Radisson Hotel, Nadesar","Radisson Hotel, Nadesar, Varanasi",82.980810,25.338373,"North Indian, Mughlai",1100,No,No,No,4,3.3,67
9252,Varanasi,"B 3/335, Krimkund, Shivala, Varanasi",Shivala,"Shivala, Varanasi",0.000000,0.000000,"Japanese, American, North Indian, Fast Food",1000,No,No,No,4,3.5,83
9253,Varanasi,"5th Floor Roof Top,(Above Big Bazaar) Sigra. O...",Sigra,"Sigra, Varanasi",82.991163,25.317176,"Cafe, North Indian, Chinese",500,No,No,No,3,3.2,26
9254,Varanasi,"Hotel Varuna Ground Floor, 22 Gulab Bagh, Sigr...",Sigra,"Sigra, Varanasi",82.991694,25.318345,"Chinese, North Indian",0,No,No,No,1,3.5,109
9255,Varanasi,"1st Floor, Nath Complex, Beside Life Line Hosp...",Sunderpur,"Sunderpur, Varanasi",0.000000,0.000000,"Chinese, North Indian",700,No,No,No,3,3.5,57
9256,Vizag,"52-1-35,36&38, CMR Mall, New Resapavanipalem, ...","CMR Central Mall, Maddilapalem","CMR Central Mall, Maddilapalem, Vizag",83.318511,17.734178,"Pizza, Fast Food",600,No,No,No,2,4.6,289
9257,Vizag,"Plot No 47- 10-23/3, 5th Floor, Isnar Khazana ...",Dwaraka Nagar,"Dwaraka Nagar, Vizag",83.305139,17.726147,"Pizza, Fast Food",600,No,No,No,2,4.3,230
9258,Vizag,"Diamond Park, Railway New Colony Road, Dwaraka...",Dwaraka Nagar,"Dwaraka Nagar, Vizag",83.303414,17.726297,"South Indian, North Indian",300,No,No,No,1,4.2,270
9259,Vizag,"Hotel GreenPark, Waltair Main Road, Waltair Up...","Hotel GreenPark, Vizag","Hotel GreenPark, Vizag, Vizag",83.307073,17.715819,"Chinese, Thai, Burmese, Vietnamese, Tibetan, J...",1300,No,No,No,3,4.4,73
9260,Vizag,"Hotel Novotel, Beach Road, Maharani Peta, Vizag","Hotel Novotel, Maharani Peta","Hotel Novotel, Maharani Peta, Vizag",83.315935,17.710690,"Continental, North Indian",1700,No,No,No,4,4.1,125
9261,Vizag,"28-10-33/6, Jagdamba Commercial Complex, Chitr...",Jagadamba Junction,"Jagadamba Junction, Vizag",83.301614,17.712028,"North Indian, Biryani",300,No,No,No,1,3.7,240
9262,Vizag,"1st Floor, ATR Towers, Harbour Park Road, Pan...",Kirlampudi Layout,"Kirlampudi Layout, Vizag",0.000000,0.000000,"North Indian, Chinese, Mediterranean",1600,No,No,No,4,4.9,345
9263,Vizag,"Ground Floor, ATR Towers, Harbour Park Road, P...",Kirlampudi Layout,"Kirlampudi Layout, Vizag",0.000000,0.000000,"Cafe, Fast Food, American",1000,No,No,No,3,3.8,27
9264,Vizag,"4-70-4, Opposite NCC Canteen, Lawsons Bay, Vizag",Lawsons Bay,"Lawsons Bay, Vizag",0.000000,0.000000,Fast Food,450,No,No,No,2,3.8,175
9265,Vizag,"Beach Road, Near Santhi Ashram, Lawsons Bay, V...",Lawsons Bay,"Lawsons Bay, Vizag",83.338097,17.734806,"Andhra, North Indian, Chinese, Seafood, Biryani",600,No,No,No,2,3.6,154
9266,Vizag,"HB Colony, Isukathota, National Highway 5, Bes...",Maddilapalem,"Maddilapalem, Vizag",83.326859,17.740024,"Andhra, North Indian, Chinese",600,No,No,No,2,3.5,124
9267,Vizag,"RK Beach, Maharani Peta, Vizag Visakhapatnam.,...",Maharani Peta,"Maharani Peta, Vizag",83.319840,17.712662,"Mughlai, Chinese, Cafe, BBQ, Cajun",500,No,No,No,2,3.6,84
9268,Vizag,"7-5-82, Sea Shore Apartments, Southern Portion...",Maharani Peta,"Maharani Peta, Vizag",0.000000,0.000000,Fast Food,500,No,No,No,2,3.7,57
9269,Vizag,"1-83-29, Opposite Pollock Lotus School, MVP Do...",MVP Colony,"MVP Colony, Vizag",83.304558,17.726709,"South Indian, Chinese, Continental, Italian, N...",600,No,No,No,2,4.1,75
9270,Vizag,"Beach Road, Opposite Cyclone Shelter , Visak...",Rushikonda,"Rushikonda, Vizag",83.382858,17.783869,"Biryani, Andhra",450,No,No,No,2,4.0,169
9271,Vizag,"Beach Road, Near Bus Stop, Sagar Nagar, Visakh...",Sagar Nagar,"Sagar Nagar, Vizag",83.361377,17.764287,"Continental, Seafood, Chinese, North Indian, B...",600,No,No,No,2,3.6,193
9272,Vizag,"Plot 95, Opposite St. Lukes Nursing School, Da...",Siripuram,"Siripuram, Vizag",0.000000,0.000000,"Cafe, North Indian, Chinese",400,No,No,No,2,3.7,85
9273,Vizag,"Plot 17, Gangapur Layout, Siripuram, Vizag",Siripuram,"Siripuram, Vizag",83.315281,17.719539,"Burger, Pizza, Biryani",600,No,No,No,2,4.3,172
9274,Vizag,"The Park, Beach Road, Pedda Waltair, Lawsons B...","The Park, Lawsons Bay","The Park, Lawsons Bay, Vizag",83.336840,17.721182,"American, North Indian, Thai, Continental",1500,No,No,No,4,3.8,74
9275,Vizag,"10-50-12/F2, Sai Dakshata Complex, Beside Leno...",Waltair Uplands,"Waltair Uplands, Vizag",83.314942,17.721119,Italian,1400,No,No,No,3,4.4,316

In [14]:
data['City'].value_counts().head(4)

New Delhi    5473
Gurgaon      1118
Noida        1080
Faridabad     251
Name: City, dtype: int64

In [15]:
city=['New Delhi','Gurgaon','Noida','Faridabad']

In [16]:
data=data[data['City'].isin(city)]

In [17]:
data.shape

(7922, 14)

In [18]:
data['City'].value_counts()

New Delhi    5473
Gurgaon      1118
Noida        1080
Faridabad     251
Name: City, dtype: int64

In [19]:
data.columns

Index(['City', 'Address', 'Locality', 'Locality Verbose', 'Longitude',
       'Latitude', 'Cuisines', 'Average Cost for two', 'Has Table booking',
       'Is delivering now', 'Switch to order menu', 'Price range',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [20]:
data.drop(['Address','Locality','Locality Verbose'],axis=1,inplace=True)

/home/saurabh/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [21]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [22]:
data['Has Table booking'].replace({'No':0,'Yes':1},inplace=True)

/home/saurabh/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [23]:
data['Has Table booking'].value_counts()

0    6876
1    1046
Name: Has Table booking, dtype: int64

In [24]:
data['Has Online delivery'].replace({'No':0,'Yes':1},inplace=True)

KeyError: 'Has Online delivery'

In [25]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [26]:
data.drop('Switch to order menu',axis=1,inplace=True)

In [27]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Is delivering now', 'Price range',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [28]:
data.corr()['Average Cost for two']

Longitude               0.071752
Latitude                0.070993
Average Cost for two    1.000000
Has Table booking       0.642966
Price range             0.847985
Aggregate rating        0.328440
Votes                   0.299089
Name: Average Cost for two, dtype: float64

In [29]:
data.head()

,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Is delivering now,Price range,Aggregate rating,Votes
865,Faridabad,77.306640,28.490059,"Chinese, Fast Food, Bakery",250,0,No,1,2.9,4
866,Faridabad,77.304776,28.490157,"North Indian, Chinese",500,0,No,2,2.8,16
867,Faridabad,77.305563,28.490137,North Indian,150,0,No,1,2.8,8
868,Faridabad,77.306102,28.490098,North Indian,150,0,No,1,2.9,8
869,Faridabad,77.305745,28.490062,Bakery,100,0,No,1,2.8,7

In [30]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Is delivering now', 'Price range',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [31]:
data.drop('Is delivering now',axis=1,inplace=True)

In [32]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [33]:
data.head()

,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Price range,Aggregate rating,Votes
865,Faridabad,77.306640,28.490059,"Chinese, Fast Food, Bakery",250,0,1,2.9,4
866,Faridabad,77.304776,28.490157,"North Indian, Chinese",500,0,2,2.8,16
867,Faridabad,77.305563,28.490137,North Indian,150,0,1,2.8,8
868,Faridabad,77.306102,28.490098,North Indian,150,0,1,2.9,8
869,Faridabad,77.305745,28.490062,Bakery,100,0,1,2.8,7

In [34]:
data['Cuisines'].value_counts()

North Indian                                                           901
North Indian, Chinese                                                  474
Fast Food                                                              330
Chinese                                                                323
North Indian, Mughlai                                                  313
Cafe                                                                   251
Bakery                                                                 212
North Indian, Mughlai, Chinese                                         194
Bakery, Desserts                                                       168
Street Food                                                            145
Pizza, Fast Food                                                       126
Chinese, Fast Food                                                     117
Mithai, Street Food                                                    116
Bakery, Fast Food                                                      107
South Indian                                                           103
Mughlai                                                                 99
Chinese, North Indian                                                   99
Ice Cream, Desserts                                                     81
Ice Cream                                                               72
Mithai                                                                  70
North Indian, Chinese, Mughlai                                          68
North Indian, Fast Food                                                 66
North Indian, Chinese, Fast Food                                        66
American, Fast Food, Salad, Healthy Food                                62
Bakery, Desserts, Fast Food                                             62
Mughlai, North Indian                                                   57
Biryani                                                                 54
Beverages                                                               52
Fast Food, Burger                                                       52
North Indian, Chinese, Continental                                      52
                                                                      ...
North Indian, Continental, Italian, Finger Food                          1
North Indian, Fast Food, Chinese, Biryani, Mughlai                       1
Burger, Pizza, Fast Food                                                 1
Chinese, Thai, Malaysian, Indonesian                                     1
North Indian, South Indian, Fast Food, Street Food, Chinese, Mithai      1
Mediterranean, Mughlai, Thai, North Indian, Chinese                      1
Cafe, South Indian, North Indian, Bakery                                 1
Italian, Mexican, Cafe                                                   1
North Indian, Mithai, South Indian, Street Food, Chinese                 1
North Indian, Indian                                                     1
Continental, Finger Food                                                 1
Mediterranean, Continental, Italian                                      1
Mithai, Bakery, Street Food, Chinese, South Indian                       1
Mughlai, Fast Food, North Indian                                         1
Asian, Thai, Chinese, North Indian                                       1
Mughlai, Chinese, North Indian                                           1
Italian, Continental, Cafe                                               1
Chinese, Healthy Food                                                    1
Finger Food, North Indian, Continental, Chinese, Italian                 1
Ice Cream, Mithai, North Indian, Street Food                             1
North Indian, Fast Food, Chinese, Mithai                                 1
Cafe, Fast Food, Continental                                             1
Lucknowi, Mughlai                                                        1
Continental, European, Asian, North Indian, Chinese, Italian             1
Chinese, Continental, Italian, North Indian                              1
Sushi, Japanese, Healthy Food                                            1
Seafood, Chinese, Japanese, Sushi, Thai                                  1
Bakery, Beverages, Fast Food                                             1
Cafe, Tibetan                                                            1
Burger, American, Fast Food, Italian, Pizza                              1
Name: Cuisines, Length: 1156, dtype: int64

In [35]:
 cuisine=data.groupby('Cuisines').mean()['Average Cost for two'].reset_index()

In [36]:
data=data.merge(cuisine,on='Cuisines')

In [37]:
data.drop('Cuisines',axis=1,inplace=True)

In [38]:
data

,City,Longitude,Latitude,Average Cost for two_x,Has Table booking,Price range,Aggregate rating,Votes,Average Cost for two_y
0,Faridabad,77.306640,28.490059,250,0,1,2.9,4,375.000000
1,New Delhi,77.049525,28.806199,500,0,2,0.0,0,375.000000
2,Faridabad,77.304776,28.490157,500,0,2,2.8,16,594.303797
3,Faridabad,0.000000,0.000000,300,0,1,0.0,0,594.303797
4,Faridabad,77.305698,28.471985,1200,1,3,0.0,0,594.303797
5,Faridabad,77.292278,28.398268,400,0,1,0.0,0,594.303797
6,Faridabad,77.329161,28.375486,450,0,1,2.8,20,594.303797
7,Faridabad,77.328898,28.377754,700,1,2,2.9,13,594.303797
8,Faridabad,77.318483,28.371951,450,0,1,2.6,26,594.303797
9,Faridabad,77.314446,28.381192,550,0,2,0.0,0,594.303797
10,Faridabad,0.000000,0.000000,400,0,1,0.0,0,594.303797
11,Faridabad,77.322930,28.395009,600,0,2,3.2,31,594.303797
12,Faridabad,77.318577,28.410708,400,0,1,0.0,0,594.303797
13,Faridabad,77.328898,28.410603,600,0,2,2.7,56,594.303797
14,Faridabad,77.313820,28.417529,200,0,1,3.0,6,594.303797
15,Faridabad,77.315951,28.454997,300,0,1,0.0,1,594.303797
16,Faridabad,77.310500,28.480467,1000,1,3,2.7,70,594.303797
17,Faridabad,77.311397,28.480552,300,0,1,2.9,14,594.303797
18,Faridabad,77.311487,28.480829,300,0,1,0.0,0,594.303797
19,Faridabad,77.305606,28.480730,500,0,2,0.0,0,594.303797
20,Faridabad,0.000000,0.000000,600,0,2,0.0,0,594.303797
21,Faridabad,0.000000,0.000000,300,0,1,0.0,0,594.303797
22,Faridabad,77.325997,28.363899,250,0,1,3.0,7,594.303797
23,Faridabad,77.328539,28.368654,500,0,2,3.0,4,594.303797
24,Faridabad,77.336451,28.408678,650,0,2,3.2,24,594.303797
25,Faridabad,77.342313,28.412268,500,0,2,2.9,8,594.303797
26,Faridabad,77.336292,28.410219,500,0,2,3.2,39,594.303797
27,Faridabad,77.293759,28.498215,500,0,2,2.8,13,594.303797
28,Faridabad,77.293041,28.499223,600,0,2,3.1,18,594.303797
29,Gurgaon,77.078058,28.432548,300,0,1,0.0,2,594.303797
...,...,...,...,...,...,...,...,...,...
7892,Noida,77.361828,28.569250,500,0,2,0.0,3,500.000000
7893,Noida,77.360975,28.561503,600,0,2,0.0,2,600.000000
7894,Noida,77.362094,28.569279,500,0,2,4.1,43,500.000000
7895,Noida,0.000000,0.000000,500,0,2,3.0,4,500.000000
7896,Noida,77.361977,28.570281,400,0,1,3.1,10,400.000000
7897,Noida,77.362309,28.570602,550,0,2,3.2,48,550.000000
7898,Noida,77.369364,28.578298,600,0,2,3.7,142,600.000000
7899,Noida,0.000000,0.000000,300,0,1,0.0,2,300.000000
7900,Noida,77.374547,28.581684,100,0,1,0.0,1,100.000000
7901,Noida,0.000000,0.000000,500,0,2,0.0,0,500.000000
7902,Noida,77.366121,28.581868,550,0,2,0.0,2,550.000000
7903,Noida,77.362594,28.595375,600,0,2,2.9,25,600.000000
7904,Noida,77.365506,28.591384,500,0,2,3.8,200,500.000000
7905,Noida,77.362456,28.612791,500,0,2,2.4,77,500.000000
7906,Noida,0.000000,0.000000,500,0,2,0.0,0,500.000000
7907,Noida,77.382379,28.564510,400,0,1,2.9,4,400.000000
7908,Noida,77.381327,28.566393,350,0,1,3.3,12,350.000000
7909,Noida,77.392072,28.571730,500,0,2,3.1,6,500.000000
7910,Noida,77.380397,28.589199,250,0,1,0.0,0,250.000000
7911,Noida,77.400003,28.588073,500,0,2,0.0,0,500.000000
7912,Noida,77.334697,28.541939,500,0,2,0.0,0,500.000000
7913,Noida,77.380418,28.571616,600,0,2,0.0,3,600.000000
7914,Noida,77.385331,28.514600,200,0,1,3.4,23,200.000000
7915,Noida,77.341371,28.586239,1300,0,3,3.9,1088,1300.000000
7916,Noida,77.337325,28.583579,500,0,2,0.0,2,500.000000
7917,Noida,77.341021,28.585493,2500,1,4,2.2,116,2500.000000
7918,Noida,77.364833,28.597103,200,0,1,3.0,10,200.000000
7919,Noida,77.364833,28.597103,450,0,1,3.5,105,450.000000
7920,Noida,77.323213,28.567751,1000,1,3,0.0,0,1000.000000
7921,Noida,77.325308,28.567150,450,0,1,2.0,161,450.000000

In [39]:
y=data.iloc[:,3].values

In [40]:
y

array([ 250,  500,  500, ...,  450, 1000,  450])

In [41]:
dataX=data.drop('Average Cost for two_x',axis=1)

In [42]:
dataX

,City,Longitude,Latitude,Has Table booking,Price range,Aggregate rating,Votes,Average Cost for two_y
0,Faridabad,77.306640,28.490059,0,1,2.9,4,375.000000
1,New Delhi,77.049525,28.806199,0,2,0.0,0,375.000000
2,Faridabad,77.304776,28.490157,0,2,2.8,16,594.303797
3,Faridabad,0.000000,0.000000,0,1,0.0,0,594.303797
4,Faridabad,77.305698,28.471985,1,3,0.0,0,594.303797
5,Faridabad,77.292278,28.398268,0,1,0.0,0,594.303797
6,Faridabad,77.329161,28.375486,0,1,2.8,20,594.303797
7,Faridabad,77.328898,28.377754,1,2,2.9,13,594.303797
8,Faridabad,77.318483,28.371951,0,1,2.6,26,594.303797
9,Faridabad,77.314446,28.381192,0,2,0.0,0,594.303797
10,Faridabad,0.000000,0.000000,0,1,0.0,0,594.303797
11,Faridabad,77.322930,28.395009,0,2,3.2,31,594.303797
12,Faridabad,77.318577,28.410708,0,1,0.0,0,594.303797
13,Faridabad,77.328898,28.410603,0,2,2.7,56,594.303797
14,Faridabad,77.313820,28.417529,0,1,3.0,6,594.303797
15,Faridabad,77.315951,28.454997,0,1,0.0,1,594.303797
16,Faridabad,77.310500,28.480467,1,3,2.7,70,594.303797
17,Faridabad,77.311397,28.480552,0,1,2.9,14,594.303797
18,Faridabad,77.311487,28.480829,0,1,0.0,0,594.303797
19,Faridabad,77.305606,28.480730,0,2,0.0,0,594.303797
20,Faridabad,0.000000,0.000000,0,2,0.0,0,594.303797
21,Faridabad,0.000000,0.000000,0,1,0.0,0,594.303797
22,Faridabad,77.325997,28.363899,0,1,3.0,7,594.303797
23,Faridabad,77.328539,28.368654,0,2,3.0,4,594.303797
24,Faridabad,77.336451,28.408678,0,2,3.2,24,594.303797
25,Faridabad,77.342313,28.412268,0,2,2.9,8,594.303797
26,Faridabad,77.336292,28.410219,0,2,3.2,39,594.303797
27,Faridabad,77.293759,28.498215,0,2,2.8,13,594.303797
28,Faridabad,77.293041,28.499223,0,2,3.1,18,594.303797
29,Gurgaon,77.078058,28.432548,0,1,0.0,2,594.303797
...,...,...,...,...,...,...,...,...
7892,Noida,77.361828,28.569250,0,2,0.0,3,500.000000
7893,Noida,77.360975,28.561503,0,2,0.0,2,600.000000
7894,Noida,77.362094,28.569279,0,2,4.1,43,500.000000
7895,Noida,0.000000,0.000000,0,2,3.0,4,500.000000
7896,Noida,77.361977,28.570281,0,1,3.1,10,400.000000
7897,Noida,77.362309,28.570602,0,2,3.2,48,550.000000
7898,Noida,77.369364,28.578298,0,2,3.7,142,600.000000
7899,Noida,0.000000,0.000000,0,1,0.0,2,300.000000
7900,Noida,77.374547,28.581684,0,1,0.0,1,100.000000
7901,Noida,0.000000,0.000000,0,2,0.0,0,500.000000
7902,Noida,77.366121,28.581868,0,2,0.0,2,550.000000
7903,Noida,77.362594,28.595375,0,2,2.9,25,600.000000
7904,Noida,77.365506,28.591384,0,2,3.8,200,500.000000
7905,Noida,77.362456,28.612791,0,2,2.4,77,500.000000
7906,Noida,0.000000,0.000000,0,2,0.0,0,500.000000
7907,Noida,77.382379,28.564510,0,1,2.9,4,400.000000
7908,Noida,77.381327,28.566393,0,1,3.3,12,350.000000
7909,Noida,77.392072,28.571730,0,2,3.1,6,500.000000
7910,Noida,77.380397,28.589199,0,1,0.0,0,250.000000
7911,Noida,77.400003,28.588073,0,2,0.0,0,500.000000
7912,Noida,77.334697,28.541939,0,2,0.0,0,500.000000
7913,Noida,77.380418,28.571616,0,2,0.0,3,600.000000
7914,Noida,77.385331,28.514600,0,1,3.4,23,200.000000
7915,Noida,77.341371,28.586239,0,3,3.9,1088,1300.000000
7916,Noida,77.337325,28.583579,0,2,0.0,2,500.000000
7917,Noida,77.341021,28.585493,1,4,2.2,116,2500.000000
7918,Noida,77.364833,28.597103,0,1,3.0,10,200.000000
7919,Noida,77.364833,28.597103,0,1,3.5,105,450.000000
7920,Noida,77.323213,28.567751,1,3,0.0,0,1000.000000
7921,Noida,77.325308,28.567150,0,1,2.0,161,450.000000

In [43]:
X=dataX.iloc[:,:].values

In [44]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [45]:
X[:,0]=encoder.fit_transform(X[:,0])

In [46]:
X

array([[0, 77.3066401, 28.4900591, ..., 2.9, 4, 375.0],
       [2, 77.04952508, 28.80619877, ..., 0.0, 0, 375.0],
       [0, 77.304776, 28.490156699999996, ..., 2.8, 16,
        594.3037974683544],
       ...,
       [3, 77.3648332, 28.5971027, ..., 3.5, 105, 450.0],
       [3, 77.32321292, 28.567750899999997, ..., 0.0, 0, 1000.0],
       [3, 77.32530809999999, 28.5671503, ..., 2.0, 161, 450.0]],
      dtype=object)

In [47]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(categorical_features=[0])

In [48]:
X=ohe.fit_transform(X).toarray()

/home/saurabh/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/saurabh/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [49]:
X[0]

array([  1.       ,   0.       ,   0.       ,   0.       ,  77.3066401,
        28.4900591,   0.       ,   1.       ,   2.9      ,   4.       ,
       375.       ])

In [50]:
X=X[:,1:]

In [51]:
X[0]

array([  0.       ,   0.       ,   0.       ,  77.3066401,  28.4900591,
         0.       ,   1.       ,   2.9      ,   4.       , 375.       ])

In [52]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [53]:
X_train.shape

(6337, 10)

In [54]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [55]:
LinearRegression(copy_X=True,fit_intercept=True,n_jobs=None,normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [56]:
y_pred=regressor.predict(X_test)

In [57]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8210945205245264

In [58]:
X_test[0]

array([  0.        ,   1.        ,   0.        ,  77.1390339 ,
        28.7052961 ,   0.        ,   1.        ,   2.9       ,
         9.        , 547.05882353])

In [59]:
y_test[800]

800

In [60]:
regressor.predict(X_test[800].reshape(1,10))

array([860.40982731])